 <header>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/index.html">Home</a></li>
          <li class="navitem navlink"><a href="/generator.html">Generator</a></li>
          <li class="navitem navlink"><a href="/add.html">Add</a></li>
          <li class="navitem navlink"><a href="/qnas.html">QnAs</a></li>
          <li class="navitem navlink"><a href="/about.html">About</a></li>
        </ul>
      </nav>

    </header>