<div class = "content-container">

    <h2 class = "add-words">
        Please type in the resturant's name:
    </h2>

    <div class="name-input-element">
        <input type="text" id="name-input">
    </div>
    <br>
    <div class="add-button-container">
      <button type="button" id="add-button">submit</button>
    </div>

</div>