<div class = "content-container">

    <button type="button" id="plate-button"><img class = "plate" src = "/images/plate.png"></button>

    <div class = "name-container">

        <p id = "name-show">

        </p>

    </div>

</div>