<div class = "content-container">

<h2 class = "content">
        1. What's the website doing?
</h2>

<p class = "content">
        Is there sometime you don't know what to eat around. There are too many restraunts and you want to choose. We will randomly choose one for you. Go get it!
</p>

<h2 class = "content">
        2. What restraunts you have?
</h2>

<p class = "content">
        This website is for students and teachers in OSU, and people working and living near campus. Therefore, all the restraunts are in Corvallis near compus. 
</p>

<h2 class = "content">
        3. How can I use it.
</h2>

<p class = "content">
        Simply click generator and click the plate.
</p>

<h2 class = "content">
        4. How to add restraunts
</h2>

<p class = "content">
        Clikc add, put in the name, and clikc submit.
</p>

</div>