body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-image: url('/images/food.jpg');
  background-repeat:repeat-y;
  background-size:100% ;
  text-align:center;
}

a {
  text-decoration: none;
}

.title-container{
  margin:0 auto;
  height: 50%;
  width: 50%;
  position: relative;
  top: 40%;
}



img.title {
  margin:0 auto;
  top: 80%;
  height: 100%;
  width: 100%;

}

.navbar {
  font-size: 20px;
  line-height: 22px;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
  margin-left: auto;
margin-right: auto;
TEXT-ALIGN: center;
}

.navitem {
  display: inline-block;
  position: center;
}

a {
  color: darkorange;
}

a:hover,
a:focus {
  color: darkred;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.content-container{
  text-align:center;
  width:50%;
  margin-top: 10%;
  margin-left:auto;
  margin-right:auto;

}

.content{
  color:darkred;

}

#plate-button{
  background-color: transparent;
  border: none;
}

.plate{
  
  height: 100%;
  width: 100%;
  position: relative;

}

.name-container{
  display: hidden;
}

.add-words{
  margin-top: 30%;
  color: darkred;
}

.name-container{
  position: relative;
  top: -300px;
}
#name-show{
  color: darkred;
  font-size: 24px;
  line-height: 22px;
}

#add-button {
  background-color: rgb(255, 141, 11); /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
}

#add-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#name-input{
  background: #ffffff;
     border: 1px solid #b7b7b7;
     color: #003366;
     cursor: text;
     font-family: "arial";
     font-size: 9pt;
     height: 30px;
     width: 250px;
     padding: 1px; /*www.52css.com*/

}